<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="edu.ubb.cs.idde.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="edu.ubb.cs.idde.rcp.Perspective"
            id="rcpexample.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="edu.ubb.cs.idde.rcp.views.FileListerView"
            id="rcpexample.filelisterview"
            name="JfaceTable"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="rcpexample.perspective">
         <view
               closeable="true"
               id="rcpexample.DropView"
               minimized="false"
               moveable="true"
               ratio="0.5f"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
         <view
               id="rcpexample.StackedView"
               minimized="false"
               relationship="stack"
               relative="rcpexample.DropView"
               visible="true">
         </view>
         <view
               id="rcpexample.filelisterview"
               minimized="false"
               relationship="stack"
               relative="rcpexample.DropView"
               showTitle="true">
         </view>
         <view
               id="kutyafulemacskafarka"
               minimized="false"
               relationship="stack"
               relative="rcpexample.DropView"
               showTitle="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         id="MainMenu"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="firstentry"
               label="MainMenu">
         </menu>
         <command
               commandId="rcpexample.show"
               label="Load table"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="rcpexample.toolbar">
            <command
                  commandId="rcpexample.show"
                  label="Load table"
                  style="push">
            </command>
            <command
                  commandId="rcpexample.exit"
                  label="Exit"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         id="valami"
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="edu.ubb.cs.idde.rcp.commands.ShowCommand"
            id="rcpexample.show"
            name="name">
      </command>
      <command
            defaultHandler="edu.ubb.cs.idde.rcp.commands.ExitCommand"
            id="rcpexample.exit"
            name="Exit">
      </command>
   </extension>

</plugin>
